.map {
  width: 100%;
  height: 100%;

  border-radius: 6px;
  background-color: var(--map-background);
  overflow: hidden;

  &__container {
    width: 100%;
    height: 100%;
    
    [class*="copyrights-pane"] {
      display: none !important;
    }
  }
}
