.print {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;

  &__svg {
    transition: 0.4s;
    fill: var(--print-icon-fill);
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--print-color);
    transition: 0.4s;

    &:hover {
      color: var(--print-color-hover);

      svg {
        transition: 0.4s;
        fill: var(--print-icon-fill-hover);
      }
    }
  }

  &__icon {
    transition: 0.4s;
    width: 24px;
    height: 24px;
  }
}
