:root {
  --grey-lighter: #c4c4c4;
  --grey-light: rgba(179, 186, 192, 0.2);
  --grey-middle: rgba(0, 0, 0, 0.06);
  --grey: #666666;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
  --red-light: #eb5757;
  --dark: #333333;
  --blue: #3483cc;
  --light: #b3bac0;
  --light20: rgba(179, 186, 192, 0.2);
  --black50: rgba(0, 0, 0, 0.5);
}
