.profile {
  position: relative;
  width: 80%;
  display: flex;
  column-gap: 23px;

  &__avatar {
    width: 18.6%;
    max-width: 180px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: flex-start;
  }

  &__info {
    display: flex;
    flex-grow: 1;
    padding-top: 10px;
  }
}
