.head {
  position: relative;
  width: 100%;
  background-color: var(--head-background);
  color: var(--head-color);

  &__container {
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 16px;
    column-gap: 24px;
  }
}

.details {
  background-color: var(--details-background);
  &__container {
    padding: 57px 0px;
  }
}
